{% extends 'base.html' %}

{% block title %}Boutique{% endblock %}

{% block content %}
    <main>
        <!-- =========================
             INTRO DU CATALOGUE
        ========================== -->
        <section class="catalog-intro">
            <!-- <h2>Découvrez notre catalogue large et varié</h2>
            <p>Trouvez facilement les produits que vous recherchez.</p> -->
        </section>

        <!-- =========================
             LAYOUT PRINCIPAL
             SIDEBAR + ZONE CONTENU
        ========================== -->
        <div class="shop-layout">

            <!-- =========================
                 SIDEBAR FILTRES
            ========================== -->
            <aside class="filter-sidebar">

                <!-- Bloc filtre : catégories -->
                <details class="filter-group" open>
                    <summary class="filter-summary">
                        Catégories
                        <i class="fa-solid fa-chevron-down"></i>
                    </summary>

                    <ul class="filter-list">
                        <li><a href="">Électronique</a></li>
                        <li><a href="">Mode</a></li>
                        <li><a href="">Maison</a></li>
                        <li><a href="">Beauté</a></li>
                        <li><a href="">Livre & Papeterie</a></li>
                    </ul>
                </details>

                <!-- Bloc filtre : prix -->
                <details class="filter-group" open>
                    <summary class="filter-summary">
                        Prix
                        <i class="fa-solid fa-chevron-down"></i>
                    </summary>

                    <input type="range" min="0" max="1000000" value="500000">
                    <p>0 XAF - 1 000 000 XAF</p>
                </details>

                <!-- Bloc filtre : ville -->
                <details class="filter-group" open>
                    <summary class="filter-summary">
                        Ville
                        <i class="fa-solid fa-chevron-down"></i>
                    </summary>

                    <label class="filter-check">
                        <input type="checkbox"> Brazzaville
                    </label>

                    <label class="filter-check">
                        <input type="checkbox"> Pointe-Noire
                    </label>
                </details>

                <!-- Bloc filtre : avis -->
                <details class="filter-group" open>
                    <summary class="filter-summary">
                        Avis
                        <i class="fa-solid fa-chevron-down"></i>
                    </summary>

                    <label class="rating-item">
                        <input type="checkbox">
                        <span class="rating-stars">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                        </span>
                    </label>

                    <label class="rating-item">
                        <input type="checkbox">
                        <span class="rating-stars">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                        </span>
                    </label>

                    <label class="rating-item">
                        <input type="checkbox">
                        <span class="rating-stars">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                        </span>
                    </label>

                    <label class="rating-item">
                        <input type="checkbox">
                        <span class="rating-stars">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                        </span>
                    </label>

                    <label class="rating-item">
                        <input type="checkbox">
                        <span class="rating-stars">
                            <i class="fa-solid fa-star"></i>
                        </span>
                        
                    </label>
                </details>

                

                
            </aside>
                                          
            <!-- =========================
                 ZONE PRINCIPALE PRODUITS
            ========================== -->
            <section class="shop-content">

                <!-- Barre d’options / tri / pagination -->
                <div class="shop-toolbar">

                    <div class="toolbar-sort"> 
                        <label class="toolbar-mod" for="sort-select">Trié par :</label>
                        <select id="sort-select" name="sort">
                            <option value="popularity">Popularité</option>
                            <option value="price-asc">Prix : moins cher</option>
                            <option value="price-desc">Prix : plus cher</option>
                            <option value="rating"></option>
                        </select>
                    </div>

                </div>
                
            <!-- GRID PRODUITS -->
             <div class="shop-results">
                
                <div class="product-grid">

               <!-- Produit 1 -->
                <article class="product-card">  
                     <!-- Image du produit  -->
                    <a href="" class="product-link">
                        <img class="product-image" src="" alt="Samsung Galaxy bleu">
                    </a>
                    <div class="product-info">
                        <h4 class="product-name">
                            Samsung Galaxy A14 5G - 128 Go - Bleu
                        </h4>
                        <div class="product-badges">
                            <span class="stock">24 restant</span>
                        </div>

                        <div class="product-main">
                            <span class="product-price">18.000 XAF</span>
                            <button class="add-to-cart">
                                <i class="fa-solid fa-cart-plus"></i>
                            </button>
                        </div>
                    </div>
                </article> 

                <!-- Produit 2 -->
                <article class="product-card">  
                     <!-- Image du produit  -->
                    <a href="" class="product-link">
                        <img class="product-image" src="" alt="Samsung Galaxy bleu">
                    </a>
                    <div class="product-info">
                        <h4 class="product-name">
                            Sneakers Nike Air Max 270 React 
                        </h4>
                        <div class="product-badges">
                            <span class="stock">12 restant</span>
                        </div>

                        <div class="product-main">
                            <span class="product-price">50.000 XAF</span>
                            <button class="add-to-cart">
                                <i class="fa-solid fa-cart-plus"></i>
                            </button>
                        </div>
                    </div>
                </article> 

                <!-- Produit 3 -->
                <article class="product-card">  
                     <!-- Image du produit  -->
                    <a href="" class="product-link">
                        <img class="product-image" src="" alt="Samsung Galaxy bleu">
                    </a>
                    <div class="product-info">
                        <h4 class="product-name">
                            Cuisinière à gaz 4 feux - Acier inoxydable
                        </h4>
                        <div class="product-badges">
                            <span class="stock">4 restant</span>
                        </div>

                        <div class="product-main">
                            <span class="product-price">449.000 XAF</span>
                            <button class="add-to-cart">
                                <i class="fa-solid fa-cart-plus"></i>
                            </button>
                        </div>
                    </div>
                </article> 

                <!-- Produit 4 -->
                <article class="product-card">  
                     <!-- Image du produit  -->
                    <a href="" class="product-link">
                        <img class="product-image" src="" alt="Samsung Galaxy bleu">
                    </a>
                    <div class="product-info">
                        <h4 class="product-name">
                            Montre Fossil Gen 6 - Acier inoxydable argenté
                        </h4>
                        <div class="product-badges">
                            <span class="stock">45 restant</span>
                        </div>

                        <div class="product-main">
                            <span class="product-price">300.000 XAF</span>
                            <button class="add-to-cart">
                                <i class="fa-solid fa-cart-plus"></i>
                            </button>
                        </div>
                    </div>
                </article> 

                <!-- Produit  5-->
                <article class="product-card">  
                     <!-- Image du produit  -->
                    <a href="" class="product-link">
                        <img class="product-image" src="" alt="Samsung Galaxy bleu">
                    </a>
                    <div class="product-info">
                        <h4 class="product-name">
                            TV écran plat 50" 4K UHD - Samsung
                        </h4>
                        <div class="product-badges">
                            <span class="stock">6 restant</span>
                        </div>

                        <div class="product-main">
                            <span class="product-price">495.000 XAF</span>
                            <button class="add-to-cart">
                                <i class="fa-solid fa-cart-plus"></i>
                            </button>
                        </div>
                    </div>
                </article> 

                <!-- Produit 6 -->
                <article class="product-card">  
                     <!-- Image du produit  -->
                    <a href="" class="product-link">
                        <img class="product-image" src="" alt="Samsung Galaxy bleu">
                    </a>
                    <div class="product-info">
                        <h4 class="product-name">
                            Réfrigérateur double porte 300L - LG
                        </h4>
                        <div class="product-badges">
                            <span class="stock">14 restant</span>
                        </div>

                        <div class="product-main">
                            <span class="product-price">295.000 XAF</span>
                            <button class="add-to-cart">
                                <i class="fa-solid fa-cart-plus"></i>
                            </button>
                        </div>
                    </div>
                </article> 

                <!-- Produit 7 -->
                <article class="product-card">  
                     <!-- Image du produit  -->
                    <a href="" class="product-link">
                        <img class="product-image" src="" alt="Enceinte Bluetooth JBL Flip 5 - Étanche">
                    </a>
                    <div class="product-info">
                        <h4 class="product-name">
                            Enceinte Bluetooth JBL Flip 5 - Étanche
                        </h4>
                        <div class="product-badges">
                            <span class="stock">23 restant</span>
                        </div>

                        <div class="product-main">
                            <span class="product-price">73.900 XAF</span>
                            <button class="add-to-cart">
                                <i class="fa-solid fa-cart-plus"></i>
                            </button>
                        </div>
                    </div>
                </article> 

                <!-- Produit 8 -->
                <article class="product-card">  
                     <!-- Image du produit  -->
                    <a href="" class="product-link">
                        <img class="product-image" src="" alt="Enceinte portable Bluetooth Bose SoundLink Revolve+ - Noir">
                    </a>
                    <div class="product-info">
                        <h4 class="product-name">
                            Enceinte portable Bluetooth Bose SoundLink Revolve+ - Noir
                        </h4>
                        <div class="product-badges">
                            <span class="stock">24 restant</span>
                        </div>

                        <div class="product-main">
                            <span class="product-price">20.900 XAF</span>
                            <button class="add-to-cart">
                                <i class="fa-solid fa-cart-plus"></i>
                            </button>
                        </div>
                    </div>
                </article> 

                <!-- Produit 9 -->
                <article class="product-card">  
                     <!-- Image du produit  -->
                    <a href="" class="product-link">
                        <img class="product-image" src="" alt="Sac à dos de randonnée étanche - 40L">
                    </a>
                    <div class="product-info">
                        <h4 class="product-name">
                            Sac à dos de randonnée étanche - 40L
                        </h4>
                        <div class="product-badges">
                            <span class="stock">10 restant</span>
                        </div>

                        <div class="product-main">
                            <span class="product-price">25.900 XAF</span>
                            <button class="add-to-cart">
                                <i class="fa-solid fa-cart-plus"></i>
                            </button>
                        </div>
                    </div>
                </article> 

                <!-- Produit 10 -->
                <article class="product-card">  
                     <!-- Image du produit  -->
                    <a href="" class="product-link">
                        <img class="product-image" src="" alt="Chaise de bureau ergonomique avec support lombaire - Noir">
                    </a>
                    <div class="product-info">
                        <h4 class="product-name">
                            Chaise de bureau ergonomique avec support lombaire - Noir
                        </h4>
                        <div class="product-badges">
                            <span class="stock">8 restant</span>
                        </div>

                        <div class="product-main">
                            <span class="product-price">55.000 XAF</span>
                            <button class="add-to-cart">
                                <i class="fa-solid fa-cart-plus"></i>
                            </button>
                        </div>
                    </div>
                </article> 
                </div>
                
                <!-- VOIR PLUS -->
                <div class="see-more">
                    <button class="see-more-button" type="button">Voir plus de produits
                        <i class="fa-solid fa-chevron-down"></i>
                    </button>
                    
                </div>

             </div>
            
            </section>
        </div>
    </main>
{% endblock %}










