{% extends 'base.html' %}

{% block title %}Compte{% endblock %}

{% block content %}


    <main>
        <!-- =========================
             INTRO FORMULAIRE
        ========================== -->
        <section class="form-zone">
            <div class="title-intro">
                <h2>Connexion/S'inscrire</h2>
                <p class="subtitle">
                    <i class="fa-solid fa-lock"></i>
                    <span>Vos données sont protégées.</span>
                </p>
            </div>

            <form class="form-login" action="" method="post">
                {% csrf_token %}
                
                <label for="username">Numéro ou adresse e-mail</label>
                <input class="form-input" type="email" id="username" name="username" placeholder="Entrez votre numéro ou adresse e-mail" required>

                <label for="password">Mot de passe</label>
                <input class="form-input" type="password" id="password" name="password" placeholder="Entrez votre mot de passe" required>

                <label class="checkbox" for="remember-me">
                    <input type="checkbox" id="remember-me" name="remember-me">
                    <span>Se souvenir de moi</span>
                </label>

                <button class="btn-sub" type="submit">Se connecter</button>

                <div class="form-footer">
                    <a class="form-footer-link form-mdp-forget" href="">Mot de passe oublié ?</a>
                    <p>
                        Pas encore de compte ? 
                        <a class="form-footer-link" href="{% url 'inscription' %}">Incrivez-vous</a>
                    </p>
                </div>
            </form>

        </section>

    </main>

{% endblock %}










